/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
}

/*=============== LAYERS ===============*/
.layers {
    perspective: 1000px;
}

.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
}

.layers__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}
