/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #ffffff;
}

/*=============== LAYERS ===============*/
.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
}

.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
}

.title {
    z-index: 1;
}

.layer-1 {
    transform: translateZ(-55px) scale(1.06);
}

.layer-2 {
    transform: translateZ(180px) scale(0.8);
}

.layer-3 {
    transform: translateZ(190px) scale(0.9);
}

.layer-4 {
    transform: translateZ(90px) translateY(480px) scale(1.1);
}