/*=============== FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*=============== VARIABLES ===============*/   
:root {
    --font: "Roboto Mono", sans-serif;
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    background-color: #000000;
    color: #ffffff;
}

/*=============== LAYERS ===============*/
.logo {
    position: absolute;
    left: 50%;
    top: 3%;
    z-index: 1;
    transform: translate(-50%, -5%);
}

.logo a {
    font-size: calc(var(--index) * 0.7);
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

.logo:hover a {
    text-decoration: underline;
}

.layers {
    perspective: 1000px;
    overflow: hidden;
}

.layers__container {
    height: 100vh;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    transition: transform var(--transition);
}

.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    font-size: calc(var(--index) * 2.9);
    text-align: center;
}

.title {
    font-size: calc(var(--index) * 8);
}

.layer-1 {
    transform: translateZ(-85px) scale(1.06);
}

.layer-2 {
    transform: translateZ(80px) scale(0.8) translateY(-20px);
}

.layer-3 {
    transform: translateZ(230px) scale(0.9);
}

.layer-4 {
    transform: translateZ(190px) translateY(480px) scale(1.1);
}